.checkout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    z-index: 1;
}

.checkout-left {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.checkout-right {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}